NUXT_HOST=127.0.0.1
NUXT_PORT=3000

# Backend host used to access from frontend server
NUXT_INTERNAL_BACKEND_HOST=backend:8080/api/v1/ # For docker
# NUXT_INTERNAL_BACKEND_HOST=localhost:8080/api/v1/ # For dev

# Backend host used to access from client/browser
NUXT_PUBLIC_EXTERNAL_BACKEND_HOST=localhost:8080/api/v1/

NUXT_PUBLIC_DEV_MODE=false

NUXT_PUBLIC_BACKEND_SECURE=false
NUXT_PUBLIC_COOKIE_NAME=omnicam_token

NUXT_PUBLIC_OTEL_ENDPOINT=http://localhost:4318
NUXT_PUBLIC_OTEL_SERVICE_NAME=omnicam-frontend
NUXT_PUBLIC_OTEL_SERVICE_VERSION=latest
NUXT_PUBLIC_DEPLOY_ENV=production
