**/.env
**/.env.prod
**/.env.example
**/*.env
**/*.log

**/.DS_Store
.git
**/.gitignore

**/node_modules
**/.nuxt
**/.dist
**/.output
uploads
tools

**/Dockerfile

backend/pkg/messages/protobufs
frontend/messages/protobufs
backend/pkg/db/sqlc-gen
predictive-algorithm/src/messages/protobufs/*
!predictive-algorithm/src/messages/protobufs/__init__.py

**/.venv
*/*.pyc
**/__pycache__