# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

sqlc-gen

.vscode/debug_bin
.vscode/debug_bin.exe

uploads

.venv

frontend/public/models/**

frontend/messages/protobufs
backend/pkg/messages/protobufs
predictive-algorithm/src/messages/protobufs/*
!predictive-algorithm/src/messages/protobufs/__init__.py

# Python cache
*.pyc