name: omnicam-services
version: "3.8"

services:
  db:
    image: postgres:17
    container_name: omnicam_postgres
    env_file:
      - db/.env.prod
    ports:
      - "5433:5432"
    networks:
      - net
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    image: migrate/migrate
    volumes:
      - ./db/migrations:/migrations
    env_file:
      - ./backend/.env.prod
    entrypoint: ["/bin/sh", "-c"]
    command:
      ["migrate -path /migrations -database $$DATABASE_URL?sslmode=disable up"]
    networks:
      - net
    depends_on:
      db:
        condition: service_healthy

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: omnicam_backend
    env_file:
      - ./backend/.env.prod
    ports:
      - "8080:8080"
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
    networks:
      - net

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: omnicam_frontend
    env_file:
      - ./frontend/.env.prod
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - backend
    networks:
      - net

  # redis:
  #   image: redis:8
  #   ports:
  #     - "6379:6379"
  #   command: redis-server --appendonly yes --requirepass your_redis_password

networks:
  net:

volumes:
  postgres_data:
  uploads:
