PORT=8080

MODE=DEV,PROD

DATABASE_URL=postgres://postgres:password@db:5432/omnicam # For docker (production)
# DATABASE_URL=postgres://postgres:password@localhost:5433/omnicam

# Never use relative path for production
MODEL_FILE_PATH=./uploads/

# Frontend host used to allow CORS (User must access using this host)
FRONTEND_HOST=http://localhost:3000 

COOKIE_NAME=omnicam_token
COOKIE_HOST=.ops.oxygenci.com
SECURE=true

JWT_EXPIRE_TIME=168h # 1 week in hours
JWT_SECRET=lol # 32 byte string

NATS_URL=nats://nats:4222

# REDIS_HOST=redis
# REDIS_PORT=6379
# REDIS_PASSWORD=
# REDIS_DB=0

OPTI_REQ_TOPIC_PATTERN=optimization_req.{jobId}

LIVESTREAM_TOPIC_PATTERN=autosave-livestream.{modelId}.{userId}

OTEL_SERVICE_NAME=omnicam-backend
OTEL_ENVIRONMENT=development
OTEL_SERVICE_VERSION=1.0.0
OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317 # for dev it localhost
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_PROPAGATORS=tracecontext,baggage
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=production,service.version=latest