DEPLOY_ENV=development
IMAGE_TAG=latest

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
GF_AUTH_DISABLE_LOGIN_FORM=false
GF_FEATURE_TOGGLES_ENABLE=traceqlEditor traceToMetrics
GF_SERVER_HTTP_PORT=3001

OTEL_COLLECTOR_GRPC=http://otelcol:4317
OTEL_COLLECTOR_HTTP=http://otelcol:4318

OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp
OTEL_PROPAGATORS=tracecontext,baggage

PROMETHEUS_RETENTION=15d
PROMETHEUS_PORT=9090
